# WordPress Coding Standards editor configuration normalization 
# http://make.wordpress.org/core/handbook/coding-standards/ 
 
# This file is for unifying the coding style for different editors and IDEs 
# editorconfig.org 
 
# top-most EditorConfig file 
root = true 
  
# Global 
# UTF-8, Unix-style newlines, newline ending every file, trim trailing whitespace 
[*] 
charset = utf-8 
end_of_line = lf 
insert_final_newline = true 
trim_trailing_whitespace = true 

# PHP http://make.wordpress.org/core/handbook/coding-standards/php/ 
# HTML http://make.wordpress.org/core/handbook/coding-standards/html/ 
# CSS http://make.wordpress.org/core/handbook/coding-standards/css/ 
# JavaScript http://make.wordpress.org/core/handbook/coding-standards/javascript/ 
[*.php, *.css,*.scss, *.html, *.js]  
indent_style = tab 
indent_size = 4 

# package.json uses spaces instead of tabs 
[*.json] 
indent_style = space 
indent_size = 2 
