#bar_meta .inside {
    padding: 0;
    margin: 0;
}

.input_column {
    border-left: 1px lightgrey dashed;
    border-top: 1px lightgrey dashed;
    padding: 10px 20px;
    margin-left: -1px;
    margin-top: -1px;
    min-width: 250px;
}

.input_column h3 {
    margin-block-start: 0;
}

.input_group_title {
    padding: 0 20px;
    background-color: #f0f0f1;
}

.input_group {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 10px 0;
}

.input_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_column {
    display: flex;
    flex-direction: column;
}
.input_row:not(:last-child) {
    margin-bottom: 10px;
}
.input_row:nth-last-child(2) {
    margin-bottom: 40px;
}
.input_row:last-child {
    margin-top: auto;
}

.css_classes, .text {
    width: 150px;
}

.input_row select, .input_field:not(.css_classes, .label) {
    width: 100px;
}

.input_field {
    display: flex;
}

.input_field input[type="text"], .input_field input[type="number"] {
    min-width: 0;
    width: auto;
}
.input_field input[type="number"] {
    padding-left: 0;
}

.input_field.has_input_unit input {
    margin: 0;
    border-radius: 4px 0 0 4px;
    position: relative;
    z-index: 1;
}

.input_field.has_input_unit.prepend_input_unit input {
    border-radius: 0 4px 4px 0;
    font-family: monospace;
}

.has_input_unit:not(.prepend_input_unit) input {
    text-align: right;
}

.input_unit {
    border: 1px solid #8c8f94;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f1;
}

.prepend_input_unit .input_unit {
    border: 1px solid #8c8f94;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
